.double-slider-wrapper {
    position: relative;
    width: 100%;
    height: 20px; 
    margin-top: 10px;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
  }
  
  .number-input {
    width: 70px;
    background: #200527;
    border: 2px solid #b3004a;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
  }
  
  .slider-track {
    position: absolute;
    border-radius: 3px;
    height: 6px;
    background-color: #200527; 
    border: 1px solid #b3004a;
    width: 100%;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .slider-range {
    position: absolute;
    border-radius: 3px;
    height: 6px;
    background-color: #b3004a; 
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none; 
    position: absolute;
    height: 0;
    width: 100%; 
    outline: none;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
  
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #b3004a;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: 0px;
    pointer-events: all; 
    position: relative;
  }
  
  .thumb::-moz-range-thumb {
    background-color: #b3004a;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin-top: 0px;
    pointer-events: all;
    position: relative;
  }
  
  .thumb--left {
    z-index: 3;
  }
  .thumb--right {
    z-index: 4;
  }