nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 5%;
    padding-right:55%;
    padding: 15px 55% 15px 5%;
    margin:20px 0px 20px 0px;
    border-bottom: 0.5rem solid #b3004a;
    border-top: 0.5rem solid #b3004a;
}

.navigation-link {
    display: inline-block; 
    padding: 0.5rem 1rem;
    font-family: Arial, "Helvetica Neue", sans-serif;
    font-size: 2rem;   
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background: repeating-linear-gradient(
      -45deg,  
      #b3004a,  
      #b3004a 10px, 
      #c82a6e 10px, 
      #c82a6e 20px  
    );
    border-radius: 8px; 
    border: 7.5px solid #3b0018; 
    box-shadow: 
      inset 0 1px 1px rgba(255, 255, 255, 0.25), 
      inset 0 -1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); 
  }
  
.navigation-link:hover {
    filter: brightness(1.2); 
}
  
.navigation-link:active {
    box-shadow: 
      inset 0 1px 1px rgba(0, 0, 0, 0.3),
      inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}
